[Unit]
Description=Internet State RGB Script
After=network.target
DefaultDependencies=no
Before=shutdown.target reboot.target halt.target
Conflicts=shutdown.target reboot.target halt.target

[Service]
ExecStart=/usr/bin/python3 /opt/internet-state-rgb/simple_rgb_network_state.py
ExecStop=/usr/bin/python3 /opt/internet-state-rgb/clear_rgb.py
TimeoutStopSec=5
WorkingDirectory=/opt/internet-state-rgb
StandardOutput=inherit
StandardError=inherit
Restart=always
User=root
Environment=PYTHONUNBUFFERED=1
KillMode=control-group

[Install]
WantedBy=multi-user.target
